

.admin-container {
  max-width: 720px;
  margin: 30px auto;
}

.card-form-box {
  background: #ffffff;
  border-radius: 14px;
  padding: 62px;
  margin-bottom: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.input-icon {
  position: relative;
  margin-bottom: 12px;
}

.input-icon i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #1c8b4a;
  font-size: 14px;
}

.input-icon input {
  width: 100%;
  padding: 9px 12px 9px 36px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.admin-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.admin-actions button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background: #1c8b4a;
}


.admin-actions .danger {
  background: #dc3545;
}

.admin-actions .danger:hover {
  background: #b02a37;
}


.qr-box {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}



.pro-card {
  display: flex;
  width: 720px;
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  border: 3px solid #1c8b4a;
  box-shadow: 0 12px 30px rgba(0,0,0,0.2);
}

.card-left {
  width: 35%;
  background: linear-gradient(135deg, #1c8b4a, #0f5f32);
  padding: 25px 15px;
  text-align: center;
}


.company-logo {
  width: 140px;
  height: auto;
  margin-bottom: 20px;
  background: none;
  border: none;
  box-shadow: none;
}


.card-left img:last-child {
  margin-top: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
}

.card-right {
  width: 65%;
  padding: 30px;
}

.card-right h2 {
  margin: 0;
  color: #1c8b4a;
}

.designation {
  color: #666;
  margin-bottom: 18px;
}


.info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  font-size: 15px;
}

.info i {
  width: 34px;
  height: 34px;
  background: linear-gradient(135deg, #1c8b4a, #25c97a);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


.save-btn,
.save-contact-btn {
  display: inline-block;
  margin-top: 16px;
  padding: 10px 16px;
  background: #0d6efd;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.save-btn:hover {
  background: #084298;
}
